/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Container do Admin */
.admin-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Navbar do Admin */
.navbar {
    background-color: #141414;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar .logo img {
    height: 40px;
}

.navbar .menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
}

header h1 {
    font-size: 2em;
}

/* Dashboard */
.dashboard {
    padding: 20px;
    text-align: center;
}

#productsList {
    margin-top: 20px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar .menu-icon {
        display: block;
    }

    .navbar .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px;
        width: 100%;
    }

    .navbar .nav-links.active {
        display: flex;
    }
}